%header.navbar
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-left
          %li
            = link_to root_path, html_options = {:class =>'navbar-brand'} do
              %i.fa.fa-paw
              FEED THE DOG
        %ul.nav.navbar-nav.navbar-left
          - if user_signed_in?
            - current_user.dogs.each do |dog|
              %li=link_to dog.name, dog
          %li
            = link_to new_dog_path do
              %i.fa.fa-plus
              Add a dog
        %ul.nav.navbar-nav.navbar-right{role: "tablist"}
          - if user_signed_in?
            %li= link_to current_user.name, edit_user_registration_path
            %li= link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Sign up', new_user_registration_path
            %li= link_to 'Sign in', new_user_session_path

